.integrante {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}

.integrante h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.integrante p {
  font-size: 18px;
  margin-bottom: 20px;
}

.integrante img {
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
